@inject ZoneService ZoneService

@foreach(var frag in ZoneService.GetFrags(ZoneId))
{
    <div @key="frag">
        @frag
    </div>
}

@code {

    protected override void OnInitialized()
    {
        ZoneService.StateHasChanged += async () =>
        {
            await InvokeAsync(() => StateHasChanged());
        };
    }

    [Parameter] public int ZoneId { get; set; }

}
